:root {
  --light-text: #ffffff;
  --poppins: "Poppins", sans-serif;
  --sans: "Open Sans", sans-serif;
  --dark-bg: rgb(0, 0, 0, 0.6);
}

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-image: url("../images/walkingtrack.jpg");
  background-repeat: no-repeat;
  background-size: 100%; */
  color: var(--light-text);
  font-family: var(--poppins);
  padding: 6rem;
}

h1 {
  font-weight: 400;
  font-size: 32px;
}
.title {
  font-size: 3rem;
}

.subtitle,
.header-list {
  font-size: 2rem;
}

.header-list {
  display: inline-flex;
  justify-content: space-evenly;
  list-style: none;
}

li {
  padding: 1.5rem;
}

li a {
  color: var(--light-text);
  text-decoration: none;
}

body {
  width: 100%;
  background-image: url(../images/walking.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  color: var(--light-text);
}
#quote {
  margin-top: 3rem;
  text-align: center;
  font-size: 5rem;
  font-family: "Sacramento", cursive;
}
h3 {
  text-align: center;
  font-family: var(--poppins);
  font-size: 2rem;
  font-style: italic;
}
form h2 {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
}

.userForm {
  font-family: var(--poppins);
  font-size: 1.5rem;
  color: var(--light-text);
  font-weight: bold;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 40%;
  background-color: var(--dark-bg);
  background-origin: border-box;
  background-position: top;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 1rem var(--light-text);
  padding: 1rem;
  opacity: 90%;
}
.userInput {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-left: 2rem;
  margin-top: 2rem;
}
#searchBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: max-content;
  border-radius: 1.5rem;
  border: solid var(--light-text);
  color: var(--light-text);
  background-color: rgb(167, 131, 86);
}
#userLocation,
#userRadius {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: solid var(--light-text);
  width: 40rem;
}
#userRadius {
  width: min-content;
}
#searchBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--light-text);
}
#warning {
  display: none;
  margin: 1rem;
  color: var(--light-text);
}

@media screen and (max-width: 1224px) {
  body {
    background-size: auto;
  }
  #userLocation {
    width: 35rem;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-size: auto;
  }
  #userLocation {
    width: 30rem;
  }
  #quote {
    font-size: 4rem;
  }
  #author {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 2rem;
  }
  .header-list {
    font-size: 1.5rem;
  }
  #userLocation {
    width: 20rem;
  }
  .userForm {
    width: 80%;
  }
}

@media screen and (max-width: 668px) {
  nav {
    justify-content: space-around;
  }
  .title,
  .subtitle {
    text-align: center;
  }
}
