:root {
    --header-background: green;
    --light-text: #ffffff;
    --poppins: 'Poppins', sans-serif;
    --sans: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%; 
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/walkingtrack.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--light-text);
    font-family: var(--poppins);
    padding: 6rem;
}

.title {
    font-size: 3rem;
}

.subtitle,
.header-list {
    font-size: 2rem;
}

.header-list {
    display: inline-flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    padding: 1.5rem;
}

#results-main {
    margin: 0 15rem;
}

.header-weather-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4rem;
    font-family: var(--poppins);
    font-size: 1.5rem;
}

.btn {
    font-family: var(--sans);
    font-size: 2rem;
    padding: .5rem 2rem;
}

.brown-border {
    border-radius: 1rem;
    border: 3px solid rgb(87, 73, 73);
    box-shadow: .5rem .5rem 1rem rgb(87, 73, 73);
    background-color: rgb(87, 73, 73, 0.2);
}

.home-page {
    border: none;
    background-color: white;
    font-family: var(--poppins);
    font-size: 1.5rem;;
    font-weight: bold;
}

.results-container {
    margin: 4rem 4rem;
    display: none;
    font-family: var(--sans);
    font-size: 2rem;
    height: 34rem;
    position: relative;

}

.results-card,
.map-result {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 1rem;
    margin-top: 1rem;
}

.results-details {
    padding-left: 1rem;
    line-height: 5rem;
}

.button-container {
   position: absolute;
   right: 5%;
   bottom: 10%; 
}
